<!-- login.component.html -->
<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img [src]="logoSrc" class="align-middle m-2" alt="logo" style="width: 120px; height: 120px; object-fit: contain;">
            </a>
          </div>

          <!-- Botones de inicio de sesión social -->
          <div class="row m-t-24 custom-row">


            <br>
            <br>
            <br>

          </div>

          <div class="or-border m-t-30">Inicia sesión con</div>

          <!-- Formulario de inicio de sesión tradicional -->
          <app-login-tradicional></app-login-tradicional>
          <br>
          <div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
