// Archivo de variables SCSS generado automáticamente

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");
//Colores
$colorTextos: #000000;
$colorPrimario: #3eb9c3;
$colorSecundario: #ba4aff;
$colorTextoEncabezado: #ffffff;
// colores de feedback
$color-exito: #28a745; // verde para success
$color-error: #dc3545; // rojo para error
$color-advertencia: #ffc107; // amarillo para warning
$color-info: #007bff; // azul para info

//Fuente
$font-family: 'DM Sans', sans-serif;

// light color variable
$sidebarbg: white;
$background: #fafafa;
$cardbg: white;
$toolbar: white;
$cardshadow: 1px 0 20px #00000014;
$hoverBgColor: #f6f9fc;

// Sidenav
$sidenav-desktop: 270px !default;
$sidenav-mini: 80px !default;
$header-height: 70px !default;

//BorderColor
$borderColor: #e5eaef;
$borderformColor: #dfe5ef;

// custom
$primary: #fb9778;
$accent: #03c9d7;
$warning: $color-advertencia;
$error: $color-error;
$success: $color-exito;
$white: #ffffff;

$light: #f2f6fa;

$gray-100:  #7c8fac;

// layout
$boxedWidth: 1200px; // ancho de layout donde va el component

$border-radius: 7px;
$radio-borde-botones: 50px;

// text color
$textPrimary: $colorTextos; // textos por ejemplo en el sidebar
